* {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box;
}
i,a,span {
    display: inline-block;
}
html{
    scroll-behavior: smooth;
}
@font-face {
  font-family: hind; src: url(./Fonts/Hind-Bold.ttf);
}

@font-face {
    font-family: quattrocento;
    src: url(./Fonts/quattrocento/Quattrocento-Bold.ttf);
}

@font-face {
    font-family: barlow;
    src: url(./Fonts/barlow/Barlow-SemiBold.ttf);
}
header{
    background-color:#fff;
    box-sizing: border-box;
}

#company-name {
    color: #EB3656;
}

.navigation-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    z-index: 2;
    background-color: #fff;
}

.inside-navigation{
    width: 1140px;
    height: 84px;
    font-family: hind;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    width: 250px;
    display: flex; 
    justify-content: space-between;
}
   
.menu-items-container {
    color: #646464;
    display: flex;
    justify-content: center;
}

.item {
    margin-right: 30px;
}
.menu-items  {
   list-style-type: none;
   color: black;
   display: flex;
   justify-content: space-between; 
}
a {
   text-decoration: none;
   color: #6c757d;
   background-color: transparent;
}
#home {
    color: #EB3656;
}
#phone {
    border: 1px solid palevioletred;
    background-color:#EE3C56 ;
    font-family: barlow;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    right: 60px;
    padding: 12px 15px;
}

#phone-number {
    font-size: 15px;
}

/*First-Banner*/
.first-container {
    padding-top: 84px;
    max-width: 1140px;
    height: 700px;
    display: flex;
    justify-content: center;
}
.banner-container {
    display: flex;
    justify-content: space-between;
}
.banner-content {
    font-family: quattrocento;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.banner-contact {
    font-family: barlow;
    padding-top: 10px;
}
.strong-banner {
    color: #EE3C56;
}
.tittle-container {
    font-size: 25px;
}
.subtittle {
    margin-bottom: 10px;
    font-size: 20px;
}
.subtittle,
.banner-contact {
    color: #EE3C56;
}
/*Header Banner*/
.image-one {
    /* 595105 1 */
    position: absolute;
    max-width: 700px;
    width: 55%;
    height: 98%;
    left:50%;
    top: 84px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/paige-cody-bOVZ_f3fbQM-unsplash.jpg);
}


section,
article{
    max-width: 100em;
    height: 650px;
    margin-bottom: 180px;
}

/*Sobre*/
.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.about-container {
    display: flex;
    justify-content: space-between;
    height: 600px;
}
#about{
    margin-top: 170px;
    height: 620px;
}

.about-images-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.about-1 {
    position: relative;
    top: 0;
    left: 0px;
    max-width: 340px;
    width: 100%;
    height: 390px;
    background-size: cover;
    z-index: 1;
}

.about-2 {
    position: relative;
    width: 320px;
    height: 360px;
    background-size: cover;
    margin-top: -80px;
    top: -70px;
    right: -150px;
    z-index: 0;
}
.about-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.about-header,
.about-title{
    font-family: quattrocento;
}
.about-header{
    font-size: 25px;
    color: #EE3C56;
}

.about-title{
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 30px;
}
.about-text-banner {
    font-size: 30px;
    font-family: quattrocento;
    margin-bottom: 25px;
}
.about-text {
    font-family: hind;
    color: #646464;
    font-size: 17px;
    margin-bottom: 20px;
}
.about-button {
    background-color:#EE3C56 ;
    font-family: barlow;
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}
/*Each body section*/
.body-section {
    background-color: #FFF8FA;
}
.portfolio-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1140px;
}
.project-container {
    display: flex;
    justify-content: space-between;
}

.project-container-2{
    display: flex;
    justify-content: space-between;
}
.project-container-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-1,
.projects-2,
.projects-3 {
    display: flex; 
    border: 1px solid black;
    height: 200px;
    width: 300px;
}
footer{
    background-color: lightseagreen;
    height: 100px;
    border:1px solid black ;
}
